.Dossier{

    justify-content: space-around;


    
   
    


    //  img{

    // //     width: 225px;
    // //  height: 120px;
    
    //   }
    

     
    @import url(../data/liste-dossiers.json);

    .info {

        background-color: purple;
        // background-color:map-get($couleur);
        
        height: 130px;
        

        h2{
            font-size: 25px;
            
           }

       p{
           font-size: 15px;
          }


          button{
             
            float: right;
            color: white;
            border-radius: 100%;
            background-color: transparent;
            border-color: transparent;
            margin-bottom: 30px;
           position: relative;
        
           
          }
        
      }


    
      
   
       
    




    background-color: green;
    width: 300px;
    // height: 350px;

    
    margin: 10px;

    margin-bottom: 30px;
    margin-top: 30px;

    
    .couverture{
        
     text-align: left;
      font-size: 0.75em;
      line-height: 1.2em;
      width: 272px;
    //   height: 200px;
    //   margin-top: 50px;
    //   padding-bottom: 50px;


      
    //  padding-top: 0.5px;
    //  padding-left: 16px;
    
   
     color: white;
    //  background-color: hotpink;
     
    .deplacer {

    
      

          .NotesIcon {
            color: white;
            background-color: black;
            height: 35px;
            width: 35px;
            opacity: 0.5;
            border-radius: 100%;
           position: absolute;
           margin-top: 10px;
           margin-left: 10px;
         //    opacity: 50%;

           }

           }
     
       
          

        

        }


    

        
        

        //les icons
       

     
    }